ul {
    list-style: outside none none;
}

#background-vignett {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: -1;

}
#background-vignett img {
	position: absolute;
	width: 100%;
	height: 100%;
}


h1, h2, footer p {
	font-family: arial;
	text-align: center;
}

h1 {
	color: rgba(0, 0, 0, 0.4);
	font-size: 44px;
}

h2 {
	color: rgba(0,0,0,0.25);
	font-size: 20px;
}

footer p {
	color: rgba(0,0,0,0.25);
	font-size: 14px;
	font-weight: bold;
}

section {
	width: 100%;
}

section ul {
	margin-left : -4.5em;
}

section ul li {
	float: left;
	margin: 0 0 30px 30px;
}

.card {
	position: relative;
	width: 2.5em;
	height: 2.5em;
	cursor: pointer;
}

.card div {
	-webkit-transition-duration: .3s;
	-webkit-transition-timing-function: ease-out;
	-webkit-backface-visibility: hidden;
}

.card .back, .card .front {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 60px;
	height: 60px;
	background: #fff;
	-webkit-border-radius: 8px; -moz-border-radius: 8px; border-radius: 8px;
	
}

.card .back {
	z-index: 200;
	-moz-box-shadow: 0 0 4px #323232; -webkit-box-shadow: 0 0 4px #323232; box-shadow: 0 0 4px #323232;
}

.card .front {
	z-index: 100;
	-webkit-transform: rotateY(-180deg);
}

.card.shadow_hack .front {
	-moz-box-shadow: 0 0 4px #323232; -webkit-box-shadow: 0 0 4px #323232; box-shadow: 0 0 4px #323232;
}

.card.customhover .back {
	-webkit-transform: scale(1.1);
	-webkit-box-shadow: #666 0 5px 10px;
}

.card .back .graphic {
	position: absolute;
	top: 5px;
	left: 5px;
	width: 50px;
	height: 50px;
	background: #bdeeee;
	background: -moz-linear-gradient(100% 100% 90deg, #bdeeee, #e0f0f1);
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#bdeeee), to(#e0f0f1));
	-webkit-border-radius: 8px; -moz-border-radius: 8px; border-radius: 8px;
	
}

.selected .back {
	z-index: 300;
	-webkit-transform: rotateY(180deg);
}

.selected .front {
	z-index: 400;
	-webkit-transform: rotateY(0deg);
}

.num-turns, .time {
	color: rgba(0, 0, 0, 0.4);
}