<?xml version="1.0" encoding="UTF-8"?>

<!-- config.xml reference: https://build.phonegap.com/docs/config-xml -->
<widget xmlns     = "http://www.w3.org/ns/widgets"
        xmlns:gap = "http://phonegap.com/ns/1.0"
        id        = "com.phonegap.helloworld"
        version   = "1.0.0">

    <name>Brahma</name>

    <description>
        Create your own games for your own creations.
    </description>

    <author href="http://phonegap.com" email="vidhya.mahendran@gmail.com">
        Vidhya
    </author>

    <!-- Define app icon for each platform. -->
    <icon src="icon.png" />
    
	<gap:splash src="splash.png" />
    <access origin="*"/>


</widget>
